@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

* {
    font-family: 'Roboto Mono', monospace;
}


.cards{
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)) !important;
  grid-gap: 20px !important;
  justify-items: center;
}